In [1]:
import pandas as pd
import re
from unidecode import unidecode
import geonamescache

In [2]:
gc = geonamescache.GeonamesCache()
countries = gc.get_countries()
cities = gc.get_cities()

In [3]:
headlines = open('./data/headlines.txt').read().split('\n')

In [4]:
df = pd.DataFrame({'headlines' : headlines})

In [5]:
keys = list(cities.keys())
city_name = []
city_cod = []
city_lat = []
city_lon = []
for k in keys:
    city_name.append(cities.get(k)['name'])
    city_lat.append(cities.get(k)['latitude'])
    city_lon.append(cities.get(k)['longitude'])
    city_cod.append(cities.get(k)['countrycode'])

city_df = pd.DataFrame({'name' : city_name,
                       'latitude' : city_lat,
                       'longitude' : city_lon,
                       'countrycode' : city_cod})

In [6]:
for i in [1,2,3]:
    h1 = unidecode(df['headlines'][i]).upper()
    #print(h1)
    for j in range(len(city_df['name'])):
        found_match = False
        cty = unidecode(city_df['name'][j]).upper()
        regexp = re.compile("".join(["\\b", cty, "\\b"]))
        if regexp.search(h1):
            print(h1, ' : ', cty, city_df['countrycode'][j])

COULD ZIKA REACH NEW YORK CITY?  :  YORK GB
COULD ZIKA REACH NEW YORK CITY?  :  YORK US
COULD ZIKA REACH NEW YORK CITY?  :  NEW YORK CITY US
FIRST CASE OF ZIKA IN MIAMI BEACH  :  OF TR
FIRST CASE OF ZIKA IN MIAMI BEACH  :  MIAMI US
FIRST CASE OF ZIKA IN MIAMI BEACH  :  MIAMI BEACH US
MYSTERY VIRUS SPREADS IN RECIFE, BRAZIL  :  RECIFE BR

In [ ]:
hdline = []
place = []
ctry = []

for i in range(len(df['headlines'])): 
    h1 = unidecode(df['headlines'][i]).upper()
    no_city_match = True
    for j in range(len(city_df['name'])):
        cty = unidecode(city_df['name'][j]).upper()
        coy = unidecode(countries.get(city_df['countrycode'][j])['name']).upper()
        regexp = re.compile("".join(["\\b", cty, "\\b"]))
        if regexp.search(h1):
            no_city_match = False
            hdline.append(h1)
            place.append(cty)
            ctry.append(coy)
    
    if no_city_match:
        hdline.append(h1)
        place.append("NA")
        ctry.append("NA")

final_df = pd.DataFrame({'headline' : hdline,
                        'city' : place,
                        'country' : ctry})

In [91]:
final_df.head()

                            headline           city         country
0    COULD ZIKA REACH NEW YORK CITY?           YORK  UNITED KINGDOM
1    COULD ZIKA REACH NEW YORK CITY?           YORK   UNITED STATES
2    COULD ZIKA REACH NEW YORK CITY?  NEW YORK CITY   UNITED STATES
3  FIRST CASE OF ZIKA IN MIAMI BEACH             OF          TURKEY
4  FIRST CASE OF ZIKA IN MIAMI BEACH          MIAMI   UNITED STATES